<div class="comment-score">
	<div class="upvote">
		<%= button_to '+', {:controller => "sections", :action => "vote",  :vote => {:bool => true, :id => comment.id}}, remote: true %>
	</div>
	<span><%= comment.comment_score %></span>
	<div class="downvote">
		<%= button_to '-', {:controller => "sections", :action => "vote",  :vote => {:bool => false, :id => comment.id}}, remote: true %>
		</div>
	</div>
	<div class="comment-text">
		<p><%= comment.content %></p>
		<p class="comment-time">Posted at <%= comment.created_at %></p>
	</div>
</div>
