<% @section.comments.order(score: :desc).each do |i| %>
	<div class="comment">
		<div class="comment-score">
			<div class="upvote">
				<%= button_to '+', {:controller => "sections", :action => "vote",  :vote => {:bool => true, :id => i.id}}, remote: true %>
			</div>
			<span><%= i.comment_score %></span>
			<div class="downvote">
				<%= button_to '-', {:controller => "sections", :action => "vote",  :vote => {:bool => false, :id => i.id}}, remote: true %>
			</div>
		</div>

		<div class="comment-text">
			<p><%= i.content %></p>
			<p class="comment-time">Posted at <%= i.created_at %></p>
		</div>
	</div>
<% end %>
