<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @section.content %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', document_sections_path(@section.document) %><br>

<---Selections-->

<% @section.comments.each do |i| %>
<div>
  Score: <%= i.comment_score %> <br>
  Text: <%= i.content %>
</div>

<div>
<td><%= button_to '+', {:controller => "comments", :action => "vote",  :vote => {:bool => true, :id => i.id}}, :method=>:post  %></td>
<td><%= button_to '-', {:controller => "comments", :action => "vote",  :vote => {:bool => false, :id => i.id}}, :method=>:post  %></td>
</div>
<br>
<% end %>

<%= form_tag section_path(@section) + '/comment' do %>


  <div class="field">
    <%= text_field :comment, :content %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
