<p id="notice"><%= notice %></p>

<div id="title-bar">
  <div id="title-name">
    <%= link_to '<', document_sections_path(@section.document), { title: 'Back to document', id: 'title-back' } %>
    <h1>Selection for <%= @section.document.name %></h1>
  </div>
</div>

<div id="document-actions">
  <%= link_to 'Edit', edit_section_path(@section) %>
</div>

<h2>Content</h2>

<p id="section-content">
  <% if @section.content %>
    <%= @section.content %>
  <% else %>
    Nothing to display
  <% end %>
</p>

<h2>Comments</h2>

<% @section.comments.order(score: :desc).each do |i| %>
  <div class="comment">
    <div class="comment-score">
      <%= button_to '+', {:controller => "comments", :action => "vote",  :vote => {:bool => true, :id => i.id}}, :method=>:post  %>
      <span><%= i.comment_score %></span>
      <%= button_to '-', {:controller => "comments", :action => "vote",  :vote => {:bool => false, :id => i.id}}, :method=>:post  %>
    </div>

    <div class="comment-text">
      <p><%= i.content %></p>
      <p class="comment-time">Posted at <%= i.created_at %></p>
    </div>
  </div>
<% end %>

<div id="comment-field">
  <%= form_tag section_path(@section) + '/comment' do %>
    <div class="field">
      <%= text_field :comment, :content, placeholder: 'Your comment' %>
    </div>

    <div class="actions">
      <%= submit_tag 'Comment' %>
    </div>
  <% end %>
</div>
