<% content_for :head do %>
  <%= javascript_include_tag 'list.min' %>
<% end %>

<h1>My documents</h1>

<% if @documents.any? %>
  <div id="documents">
    <div id="documents-toolbar">
      <input class="search" id="documents-search" placeholder="Search" />
      <%= link_to '+ New document', new_document_path, id: 'documents-new' %>
    </div>

    <table>
      <thead>
        <tr>
          <th id="doc-head-name" class="sort asc" data-sort="name">Name</th>
          <th id="doc-head-created" class="sort" data-sort="created">Created</th>
          <th id="doc-head-updated" class="sort" data-sort="updated">Last updated</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>

      <tbody class="list">
        <% @documents.each do |document| %>
          <tr>
            <td class="name"><%= link_to document.name, document %></td>
            <td class="created"><%= document.created_at %></td>
            <td class="updated"><%= document.updated_at %></td>
            <td><%= link_to 'Edit', edit_document_path(document) %></td>
            <td><%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
<% end %>

<% content_for :foot do %>
  <script>
    var options = {
      valueNames: [ 'name', 'created', 'updated' ]
    };

    var docsList = new List('documents', options);
  </script>
<% end %>
