<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>
<p>
  <strong>Download attachment:</strong>
  <%= link_to nil, @document.attachment.url %>
</p>
<p>
  <strong>Page count:</strong>
  <%= @document.page_count %>
</p>
<p>
  <%= cl_image_tag(@document.attachment.full_public_id, format: :png) %>
</p>

<%= link_to 'Add section', new_document_section_path(@document) %>
<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
