<header id="site-header">
  <a id="site-header-title" href="/" title="Exemplary home">Exemplary</a>

  <section id="site-header-search">
    <%= form_tag("/search", method: "post", id: "site-header-search-form") do %>
      <%= text_field_tag :text, nil, placeholder: "Search" %>
      <div id="site-header-filter">
        <%= select_tag "search_filter",
                       options_for_select([ "Documents", "University", "Course", "Comment", "Username" ],
                                          "Documents") %>
      </div>
      <%= submit_tag("Search") %>
    <% end %>
    <%= link_to "Advanced", "/search", id: "site-header-search-adv" %>
  </section>

  <nav id="site-header-nav">
    <% if user_signed_in? %>
      <%= link_to '+ New document', new_document_path %> •
      <%= link_to current_user.email, edit_user_registration_path %> •
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %> •
      <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>
  </nav>
</header>
