<header id="site-header">
  <a id="site-header-title" href="/" title="Exemplary home">Exemplary</a>
  <nav id="site-header-nav">
    <% if user_signed_in? %>
      <%= link_to '+ New document', new_document_path %> •
      <%= link_to current_user.email, edit_user_registration_path, { title: 'Manage your account' } %> •
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %> •
      <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>
  </nav>
</header>
