<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=Edge'>
  <meta http-equiv='X-UA-Compatible' content='chrome=1'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
  <%= csrf_meta_tags %>
  <title>Exemplary</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>

  <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path 'apple-touch-icon-57x57.png' %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path 'apple-touch-icon-114x114.png' %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path 'apple-touch-icon-72x72.png' %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path 'apple-touch-icon-144x144.png' %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= image_path 'apple-touch-icon-60x60.png' %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= 'apple-touch-icon-120x120.png' %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path 'apple-touch-icon-76x76.png' %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path 'apple-touch-icon-152x152.png' %>">
  <meta name="apple-mobile-web-app-title" content="Exemplary">
  <link rel="icon" type="image/png" href="<%= image_path 'favicon-196x196.png' %>" sizes="196x196">
  <link rel="icon" type="image/png" href="<%= image_path 'favicon-160x160.png' %>" sizes="160x160">
  <link rel="icon" type="image/png" href="<%= image_path 'favicon-96x96.png' %>" sizes="96x96">
  <link rel="icon" type="image/png" href="<%= image_path 'favicon-16x16.png' %>" sizes="16x16">
  <link rel="icon" type="image/png" href="<%= image_path 'favicon-32x32.png' %>" sizes="32x32">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="application-name" content="Exemplary">

  <%= yield :head %>
</head>
<body ng-app="Exemplary">
  <%= render partial: 'layouts/header' %>

  <div id="content" class='<%= 'landing' if (!user_signed_in? && controller.controller_name == 'application') %>'>
    <%= yield %>
  </div>

  <%= render partial: 'layouts/footer' %>

  <%= yield :foot %>
</body>
</html>
